<Layout::Section::Header @title={{t "registry-bridge.developers.payments.settings.title"}} />

<Layout::Section::Body class="overflow-y-scroll h-full">
    <div class="container">
        <div class="max-w-5xl mx-auto mt-4">
            <div class="content">
                <div class="mb-4">
                    <p class="text-sm text-gray-700 dark:text-gray-300">
                        {{t "registry-bridge.developers.payments.settings.description"}}
                    </p>
                </div>
                {{#if this.isLoading}}
                    <div class="flex items-center justify-center p-8">
                        <Spinner @loadingMessage={{t "registry-bridge.developers.payments.settings.loading"}} @loadingMessageClass="ml-2 text-black dark:text-white" @wrapperClass="flex flex-row items-center" />
                    </div>
                {{/if}}
                <div 
                    id="account-management-container" 
                    {{did-insert this.setupStripe}} 
                    class="min-h-screen bg-white dark:bg-gray-900 rounded-lg border border-gray-200 dark:border-gray-700"
                >
                    {{! The Stripe Account Management component will be rendered here }}
                </div>
            </div>
        </div>
    </div>
</Layout::Section::Body>
